
.App {
  text-align: center;
}

.App-Contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

.App-Left {
  min-width: 70vw;
}

.App-right {
  min-width: 30vw;
}